/*
@name: cards
*/

.block.card {
    >.container>.card-item {
        padding: var(--card--spacing);
        border-width: var(--card--border-width);
        border-color: var(--card--border-color);
        border-style: solid;
        background-color: var(--card--background-color);
        color: var(--card--color);
        border-radius: var(--card--border-radius);
        position: relative;

        &:has(>a) {
            padding: 0;
        }

        >a {
            display: block;
            padding: var(--card--spacing);
            text-decoration: none;
        }
    }
}