/*
@name: description-list
*/

.block.description-list {
    --description-list--title-width: var(--size-xs);
    --description-list--title-margin: var(--spacing-md);
    --description-list--border-color: var(--color-background-dark);

    .list {
        border-block-start: var(--px) solid var(--description-list--border-color);

    }


    .list-item {
        margin-inline: 0;

        &::before {
            content: none;
        }
    }

    .list-item {
        padding-block: calc(var(--description-list--title-margin) * 0.75);

        border-block-end: var(--px) solid var(--description-list--border-color);

        @media screen and (min-width: map-get($map: $media-queries, $key: 'xs')) {
            @include flex(row, sm, nowrap);
        }
    }

    .title {
        flex: 0 0 clamp(var(--description-list--title-width, 320px) * 0.66, 33.33%, var(--description-list--title-width, 560px) * 2);
        width: 100%;
        max-width: clamp(var(--description-list--title-width, 320px) * 0.66, 33.33%, var(--description-list--title-width, 560px) * 2);
    }

    .text {
        flex: 1 1 auto;
        padding-block: calc(var(--description-list--title-margin) * 0.5);

        @media screen and (min-width: map-get($map: $media-queries, $key: 'xs')) {
            padding-block: 0;

        }
    }
}