/*
@name: divider
*/

.block.divider {
    background: none;
    margin-block: 0;

    >.container {
        // margin-block: 0;
        background: none;
        padding-top: calc(var(--divider--spacing) / 2);
        padding-bottom: calc(var(--divider--spacing) / 2);
        padding-inline: var(--block--spacing-x);

        >hr {
            padding: 0;
            margin: 0;
            border: none;
            width: auto;
            border-top: var(--divider--height, var(--px)) var(--divider--style, solid) var(--divider--color, var(--color-text));
        }
    }
}