.block.post-types {
  a {
    text-decoration: none;
    display: block;
    padding-bottom: var(--spacing-sm);
    border-bottom: var(--px) solid var(--color-background-dark);
    margin-bottom: var(--spacing-sm);
    color: inherit;
  }




  // Layouts
  &.layout{
    &-small {}
  }
}