/*
teaser
*/

.block.teaser {
  &.square-fluid {
    --teaser--aspect-ratio: 1;

    &>.container {
      padding-block: 0;
      padding-inline: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      flex: 1 1 calc(100% / var(--teaser--aspect-ratio));
      padding-block: 0;
      padding-inline: 0;
    }
  }
}