/*
@global: main
*/

@media (prefers-reduced-motion) {
    :is(*) {
        transition: none !important;
        animation: none !important;
        animation-duration: 0 !important;
        animation-delay: 0 !important;
    }
}

::selection {
    color: var(--color-background);
    background-color: var(--color-brand);
}

main {
    padding-top: var(--header--height);
}

/* Headlines & Paragraph */

:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre) {
    margin: 0;
    // text-wrap: pretty;
}

:where(h1, .h1) {
    font-family: var(--font-family-display);
    font-size: var(--font-size-fluid-xxl);
    line-height: var(--line-height-xxs);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-sm);
}

:where(h2, .h2) {
    font-family: var(--font-family-display);
    font-size: var(--font-size-fluid-xl);
    line-height: var(--line-height-xxs);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-sm);
}

:where(h3, .h3) {
    font-family: var(--font-family-display);
    font-size: var(--font-size-fluid-lg);
    line-height: var(--line-height-xxs);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-sm);
}

:where(h4, .h4) {
    font-family: var(--font-family-display);
    font-size: var(--font-size-fluid-md);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-sm);
}

:where(h5, .h5) {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-fluid-sm);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semi);
    letter-spacing: var(--letter-spacing-sm);

}

:where(h6, .h6) {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-fluid-sm);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semi);
    letter-spacing: var(--letter-spacing-sm);

}

:where(p, .p) {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-fluid-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-sm);
    text-wrap: pretty;

}

:where(small, .small) {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-fluid-xs);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-regular);
    text-wrap: pretty;

}

code,
.code {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-fluid-xs);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-semi);
    border: var(--px) solid var(--color-background-dark);

    :is(p, .p, small, .small, li, .li, pre, .pre, code, .code, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) & {
        display: inline-block;
        font-size: 0.7em;
        padding: calc(0.3em/2) 0.6em;
        border-radius: var(--border-radius-em-xs);
        @include button-color('text', 'background', 'text');
        border-width: var(--px);
        margin: 0 var(--spacing-em-xxs) var(--spacing-em-xxs) 0;
    }
}

:where(a) {
    font-size: 1em;
    color: var(--color-brand, blue);
    text-decoration-thickness: var(--px);
    text-decoration-color: var(--color-brand-light);
    text-underline-offset: calc(var(--px) * 2);
    transition: color var(--transition-fast), text-decoration-color var(--transition-fast);

    &:is(:hover, :focus) {
        color: var(--color-brand-dark);
        text-decoration-color: var(--color-brand, blue);
    }
}

// /*
// Gradient Text Classes
// */
// @mixin gradientClip($color1: 'brand', $color2: 'secondary') {
//     background: -webkit-linear-gradient(45deg, var(--color-#{$color1}), var(--color-#{$color2}));
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-size: 150% 150%;
//     animation: animatedGradient 3s ease infinite;


// }

// @keyframes animatedGradient {
//     0% {
//         background-position: 0% 50%;
//     }

//     50% {
//         background-position: 100% 50%;
//     }

//     100% {
//         background-position: 0% 50%;
//     }
// }



// .gradient {
//     &-text {
//         :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre, span) {
//             @include gradientClip();
//         }

//         &-light {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre, span) {
//                 @include gradientClip('background', 'secondary-light');
//             }
//         }

//         &-secondary {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre, span) {
//                 @include gradientClip('secondary', 'brand-light');
//             }
//         }
//     }

//     &-headlines {
//         :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
//             @include gradientClip();
//         }

//         &-light {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
//                 @include gradientClip('background', 'secondary-light');
//             }
//         }

//         &-secondary {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
//                 @include gradientClip('secondary', 'brand-dark');
//             }
//         }
//     }

//     &-paragraph {
//         :is(p, .p) {
//             @include gradientClip();
//         }

//         &-light {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre, span) {
//                 @include gradientClip('background', 'secondary-light');
//             }
//         }

//         &-secondary {
//             :is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small, .small, code, .code, pre, .pre, span) {
//                 @include gradientClip('secondary', 'brand-light');
//             }
//         }
//     }
// }

.vr {
    height: 100%;
    min-height: 1em;
    width: var(--px);
    background-color: rgba(0, 0, 0, 0.15);

    [color-theme="dark"] & {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

/*
WYSIWIG Editor Custom Styles 
note: if the Text Content can be formatted by the Editor, the HTML Element should get the the 'data-wysiwyg' attribute to apply basic formating to the element
*/
:where([data-wysiwyg]) {

    // word-break: break-all;
    a {
        color: var(--color-brand) !important;
    }
}

:where([data-wysiwyg]) {
    :where(h1, h2, h3, h4, h5, h6, p, small, pre, ul, ol, li) {
        margin-block-start: var(--spacing-em-xs, 0.25em);
        margin-block-end: var(--spacing-em-sm, 0.33em);
    }
}

:where([data-wysiwyg]) ol,
:where([data-wysiwyg]) ul {
    font-size: var(--font-size-fluid-sm);
    line-height: var(--line-height-md);
    margin-block: var(--spacing-em-xs, 0.25em);

    li {
        position: relative;
        margin-inline-start: var(--spacing-md, 0.25em);

        &::before {
            position: absolute;
            top: 0;
            left: calc(var(--spacing-md, 0.25em) * -1);
            opacity: 0.8;
        }
    }
}

:where([data-wysiwyg]) ul {
    li::before {
        content: '— ';
    }
}

:where([data-wysiwyg]) ol {
    li::before {
        content: '' counter(list-item) '. ';
    }
}

:where([data-wysiwyg]) {

    img,
    svg {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

a {
    color: var(--block--color-text, var(--color-brand));
    // text-decoration-thickness: 1.5px;
    // text-underline-offset: 3px;

    &:is(:hover, :focus) {
        color: var(--block--color-text, var(--color-text));
        text-decoration-color: var(--block--color-text-dark);
    }
}

.entry,
.search-results .search:not(header, footer) h1 {
    margin-bottom: var(--spacing-sm);
}

/*

404 & Search Page 

*/

.not-found-page,
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--header--height));
    text-align: start;
    padding-block: var(--spacing-sm);

    >* {
        padding-inline: var(--spacing-sm);
        width: 100%;
        max-width: var(--size-md);
    }

    &:not(header, footer) h1 {
        margin-block: 0;
        font-size: var(--font-size-fluid-md);

    }
}

.nightshift-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 216, 88, 0.125);
    z-index: 10000000;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-fast);
    mix-blend-mode: multiply;

    [nightshift="true"] & {
        opacity: 1;
    }
}



// #magnifier {
//     position: fixed;
//     width: 100px;
//     height: 100px;
//     border: 2px solid black;
//     border-radius: 50%;
//     background-size: 200% 200%;
//     background-image: url('zoomed-image.jpg'); /* Default image to zoom */
//     pointer-events: none; /* To prevent the magnifier from blocking mouse events */
//     display: none; /* Initially hide the magnifier */
// }